.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-group:last-of-type {
  margin-bottom: 0;
}

.form-group > label {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 8px;
}

.form-group > input {
  border: none;
  border-radius: 4px;
  padding: 16px;
  width: 400px;
  max-width: 450px;
}

.form-group > input:focus,
.form-group > input:active {
  border: none;
  outline: none;
}

.form-senha {
  color: #ffffff;
  display: block;
  font-size: 12px;
  margin-top: 4px;
  text-decoration: none;
  transition: 0.3s ease;
}

.form-senha:hover {
  color: #000000;
  text-decoration: underline;
}

.btn-cadastrar {
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  transition: 0.3s ease;
  width: 100%;
}

.btn-cadastrar:hover {
  text-decoration: underline;
}

.btn-logar {
  cursor: pointer;
  background: #0000ff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-top: 24px;
  padding: 14px 0;
  width: 100%;

  -webkit-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.49);
  box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.49);
}

#modalContainer  {
  width: 20%;
  height: 50%;
  bottom: 20%;
  border-radius: 18.5px;
  border: 2px solid #0000ff;
}

#modalContainer > .modal_section {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.4rem;
}

#modalContainer > .modal_section > h3 {
  font-weight: 600;
  font-size: 1.4rem;
}

 .modal_inputs {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-top: 1.5rem;
  font-weight: 600;
  font-size: 1.15rem;
}

.input__email, .input__password {
  height: 2.1rem;
  border-radius: 0.3rem;
  border-color: transparent;
}

.input__email:hover, .input__password:hover {
  border: 1.95px solid blue;
}

.input__date {
  width: 50%;
  cursor: pointer;
}

.modal__checkbox {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  margin-top: 1.2rem;
  justify-content: flex-end;
}

.label__checkbox {
  font-size: 1rem;
}

.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8%;
}

.modal__input-button {
 padding-bottom: 1%;
 color: blue;
 border: 1px solid transparent;
 border-bottom: 2px solid blue;
 font-size: 100%;
 font-weight: 600;
}

.modal__input-button:hover {
  color: white;
  background-color: #0000ff;
  padding: 2% 10%;
  border-radius: 120px;
  transition: 0.8s;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo escura com opacidade de 50% */
  z-index: 9998; /* Certifique-se de que a camada de fundo esteja abaixo do modal */
  display: none;
}

.modal-background--show {
  display: block;
}